#arenaView {
  /* background-color: aqua; */
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  padding: 1rem;
}

#topBar {
  /* background-color: yellow; */

  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}

#arenaView #topBar button {
  font-size: 1.3rem;
}

#arena {
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#arena > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
}

#player > div:not(.statusContainer) {
  justify-self: end;
}

.controls {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 1rem;
}

.controls button {
  font-size: 1rem;
}

#arena .statusContainer {
  display: grid;
  gap: 0.75rem;
}

#arena #player .statusContainer {
  justify-items: start;
}

#arena #computer .statusContainer {
  justify-items: end;
}

#arena .statusContainer > * {
  display: block;
  --unit: 1rem;
  height: var(--unit);
  width: calc(var(--unit) * var(--size));
  background-color: var(--status);
}

#arena > div > div {
  align-content: center;
  gap: 1rem;
}
#arena > div > div:not(.statusContainer) {
  display: grid;
  width: 100%;
}

#arena div:not(.statusContainer) .name {
  text-align: center;
  user-select: none;
  position: relative;
}

[data-stage="Battle"] .name.playing::after {
  content: "";
  position: absolute;
  animation: dot-dot-dot 3s infinite;
}

@keyframes dot-dot-dot {
  0% {
    content: ".";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#arena div:not(.statusContainer) .board {
  border: 0.15rem solid black;
  position: relative;
  display: grid;
  place-self: center;
  width: 100%;
  max-width: 50vh;
  min-width: 14rem;

  grid-template-columns: repeat(10, 10%);
}

#arena div:not(.statusContainer) .board > .cell {
  padding-bottom: 100%;
  border: 0.1rem solid rgba(128, 128, 128, 0.342);
  background-color: var(--status);
  position: relative;
}

[data-stage="Setup"] #arena #player .cell {
  touch-action: none;
}

[data-stage="Battle"] #arena #computer .name.playing ~ .board .cell {
  pointer-events: none;
}

[data-stage="Battle"] #arena #computer .board .cell:hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  outline: 0.15rem solid rgb(255, 255, 255);
  pointer-events: none;
}

:is([data-stage="Battle"], [data-stage="End"]) :is(.controls, #startBtn) {
  display: none !important;
}

#bottomBar {
  /* background-color: red; */
  display: grid;
  place-content: center;
}

#bottomBar button {
  font-size: 1.75rem;
}

.status.selected {
  outline: 0.2rem solid rgb(0, 110, 255);
}

.status[data-size="4"] {
  --size: 4;
}
.status[data-size="3"] {
  --size: 3;
}
.status[data-size="2"] {
  --size: 2;
}
.status[data-size="1"] {
  --size: 1;
}
.status[data-status="intact"] {
  --status: grey;
}
.status[data-status="sunk"] {
  --status: red;
}

.cell[data-status="hold"] {
  --status: white;
}

.cell[data-status="mist"] {
  --status: rgb(94, 122, 141);
}
.cell[data-status="water"] {
  --status: rgb(20, 95, 145);
}
.cell[data-status="ship"] {
  --status: rgb(96, 100, 102);
}
.cell[data-status="hit"] {
  --status: rgb(37, 34, 39);
}
.cell[data-status="sunk"] {
  --status: rgb(145, 42, 42);
}

@media (max-aspect-ratio: 65/96) {
  #arena {
    grid-template-columns: auto;
  }
  #arena > div {
    grid-template-columns: auto 1fr;
  }
  #arena > div > div {
    gap: 0.3rem;
  }
  #arena div:not(.statusContainer) .board {
    max-width: 40vh;
  }
  #computer > div:not(.statusContainer) {
    grid-area: B;
  }
  #arena #computer .statusContainer {
    grid-area: S;
    justify-items: start;
  }
  #computer {
    grid-template-areas: "S B";
  }
  #computer .controls {
    display: none;
  }
}

@media (min-aspect-ratio: 916/410) {
  #arenaView {
    position: relative;
    /* background-color: aqua; */
  }
  #topBar {
    position: fixed;
    top: 0.3rem;
    left: 0.3rem;
    grid-template-columns: auto;
    background-color: white;
  }
  #topBar button {
    scale: 0%;
    background-color: white;
  }
  #helpBtn,
  #newGameBtn {
    position: absolute;
  }
  #helpBtn {
    top: 100%;
  }
  #newGameBtn {
    top: 300%;
    width: max-content;
  }
  #topBar::before {
    content: "MENU ^";
  }
  #topBar:hover::before {
    content: "MENU v";
  }
  #topBar.open button {
    scale: 100%;
  }
  #bottomBar {
    position: fixed;
    bottom: 0%;
    right: 0%;
  }
}
