* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
}

.disappear {
  display: none !important;
}

.hide {
  opacity: 0% !important;
}

button {
  --col: black;
  color: var(--col);
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 0.3rem 1rem;
  border: 0.1em solid transparent;
  border-radius: 0.3rem;
  transition: 100ms;
}

button:hover {
  border-color: var(--col);
}

button:active {
  color: rgb(70, 64, 64);
  background-color: rgb(214, 176, 52);
}
